<div class="container">
    <h1>My Quotes</h1>
    <div class="row">
        <div class="col-md-4">
            <app-quote-form></app-quote-form>
        </div>
        <div class="col-md-8">
            <br>
            <hr>
            <div *ngFor='let quote of quotes ;let i = index'>
                <p><span id="quotes">"{{quote.quote}}"</span> <br>
                    <app-quote-details [quote]='quote'(isViewed)='quoteDelete($event,i)'></app-quote-details></p>                 
            </div>
        </div>
    </div>
</div>
