<div class="container">
    <h1>My Quotes</h1>
    <div class="row">
        <div class="col-md-4">
            <app-quote-form></app-quote-form>
        </div>
        <div class="col-md-4">
            <br>
            <hr>
            <div *ngFor='let quote of quotes ;let i = index'>
                <p><span id="quotes">"{{quote.quote}}"</span> <br><blockquote class="blockquote-footer"> Author: {{quote.author}}<br>Publisher: {{quote.publisher}}<br>Date Published: {{quote.dateCreated  | date:'short'}}</blockquote></p>                
                <p>{{quote.voteCount}}</p> 
            </div>
        </div>

    </div>
</div>
