<div class="row">
    <div class="com-md-4" >
<blockquote class="blockquote-footer"> Author: {{quote.author}}<br>Publisher: {{quote.publisher}}<br>Published on:{{quote.dateCreated|date:'medium'}}<br>Posted: {{quote.dateCreated|datePassed}} days ago</blockquote>
<button class="btn btn-outline-success btn-sm" (click) = 'incrementUp(quote)'><strong>Upvote</strong>&nbsp;&nbsp;{{quote.likes}}</button>&nbsp;&nbsp;
<button class="btn btn-outline-danger btn-sm" (click) = 'incrementDown(quote)'><strong>DownVote</strong>&nbsp;&nbsp;{{quote.disLikes}}</button>&nbsp;&nbsp;
<br> <br>
<span class="" *ngIf='quote.likes > 1;'appHighlight>Best Quote!</span>  
    </div>
    <div class="col-md-4">
<button class="btn btn-sm btn-danger" id="delete" (click) = 'quoteDelete(true)'> Delete Quote</button>
    </div>
</div>